/*
 * Want to change this website's styes? Learn more about CSS:
 * https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS
 */
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

button {
  margin: 10px;
  font-family: 'Space Mono', monospace;
  border-radius: 3px;
  background: none;
  border: 1px #333 dashed;
}
input {
  margin-top: 10px;
}

svg {
  overflow: visible;
  font-family: 'Space Mono', monospace;
  border-radius: 1px;
  border: 1px #333 solid;
}


svg line {
  stroke: #333;
  stroke-width: 1;
}

.name, .from-noun-project {
  font-family: 'Futura Renner', monospace;
  font-size: 1em;
}

.cutting-grid {
  fill: none;
  stroke: #333;
  stroke-width: 1;
  stroke-dasharray: 5 4;
}



.credits {
  font-size: 0.35em;
}

.title {
  font-size: 0.75em;
  font-style: italic;
  font-weight: bold;
}

.header {
  font-size: 0.6em;
}

.author {
  font-size: 0.58em;
}

.id {
  font-size: 0.72em;
}

@font-face {
  font-family: 'Futura Renner';
  src: url('FuturaRenner-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Space Mono';
    src: url('./SpaceMono-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Space Mono';
    src: url('./SpaceMono-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Space Mono';
    src: url('./SpaceMono-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Space Mono';
    src: url('./SpaceMono-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@media print{
  html,body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
  }
  @page {
    size: A4 landscape;
    max-height:100%;
  	max-width:100%
  }
  svg {
    width: 100%;
    height:100%;
    display: block;
    border: none;
  }

  button, form, input, label {
  display: none;
  }
